body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f2f5;
    }
    
    header {
        background-color: #3b56b6;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }
    
    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .container p {
        margin-bottom: 15px;
    }
    
    .discord-button {
        display: inline-block;
        background-color: #7289da;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s;
    }
    
    .discord-button:hover {
        background-color: #5f73bc;
    }
    
    .container ul {
        list-style-type: none;
        padding: 0;
    }
    
    .container ul li {
        margin-bottom: 10px;
    }
    
    .container ul li:before {
        content: "• ";
        color: #7289da;
    }
    